<div class="container">
<div class="row" style="min-height: 200px;">
	
</div>
	<div class="row">
	<div class="col-md-offset-4">
	       <div id ='loadingDiv' style="display: none"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
</div> 

		<%= form_tag scrapping_scrapping_path, :method => :get, remote:true do %>
        Nhập từ tiếng Anh để tra nghĩa tiếng Việt:  <%= text_field_tag :a%>
        <%= submit_tag "Tìm kiếm" %>
        <%end%>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-offset-4">

		<div id="result"></div>
		</div>
	</div>
</div>
